[run]
source =
    puppet-manifests/debian/bullseye/src/bin
    puppet-manifests/debian/bullseye/src/modules/platform/files
omit =
    */tests/*
    */test/*
    */.tox/*
    */.eggs/*
    */htmlcov/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    pass
show_missing = True

[html]
directory = UTCoverage/htmlcov
