# hacking pulls in flake8
hacking>=6.1.0
bashate >= 0.2
bandit!=1.6.0,>=1.1.0,<2.0.0;python_version>="3.0" # GPLv2
shellcheck-py;python_version>="3.0" # MIT
netaddr>=1.3.0
mock>=5.2.0
testtools>=2.7.0
pytest>=8.0.0
