#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_HOST_ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH 2>/dev/null)

%:
	dh $@

override_dh_auto_build:
override_dh_auto_install:
override_dh_usrlocal:
	echo "Do Nothing"

override_dh_install:
ifeq ($(DEB_HOST_ARCH),arm64)
	sed -i "s/amd64/arm64/" $(CURDIR)/bin/puppet-update-grub-env.py
endif
	$(MAKE) install hiera_v5=true ignore_puppet_warnings=true \
		BINDIR=$(CURDIR)/debian/tmp/usr/local/bin \
		CONFIGDIR=$(CURDIR)/debian/tmp/etc/puppet \
		MODULEDIR=$(CURDIR)/debian/tmp/usr/share/puppet/modules

	# nslcd doesn't exist on Debian
	rm $(CURDIR)/debian/tmp/usr/share/puppet/modules/platform/templates/nslcd.conf.erb

	dh_install
